.message {
  background-color: var(--bgColor-dark-300);
  padding: 0.5rem;
  border-radius: 8px;
  width: 20rem;
  max-width: 80%;
  text-wrap: wrap;
}

.message p {
  margin: 0;
  word-break: break-word;
}

.message .name {
  color: var(--primary-color-default);
}

.message.me {
  background-color: var(--primary-color-default);
  align-self: flex-end;
}

.message.event {
  align-self: center;
  text-align: center;
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
}

.message.event p {
  font-size: 0.8rem;
  color: var(--primary-color-muted);
  font-weight: 500;
}

.message.event .meta,
.message.event .name {
  display: none;
}

.message .meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  color: var(--fgColor-default);
  font-size: 0.75rem;
}

.message .meta svg {
  width: 1rem;
  height: 1rem;
}

.message .img img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}
