.message {
  background-color: var(--bgColor-dark-300);
  padding: 0.5rem .75rem;
  border-radius: 1rem;
  width: 20rem;
  max-width: 80%;
  text-wrap: wrap;
  animation: messageSliding .1s linear forwards;
}

.message p {
  margin: 0;
  word-break: break-word;
  color: var(--fgColor-default);
}

.message .name {
  color: var(--primary-color-default);
}

.message.me {
  background-color: var(--primary-color-default);
  align-self: flex-end;
  animation: none;
}

.message.event {
  align-self: center;
  text-align: center;
  background-color: transparent;
  border-radius: 16px;
  width: 100%;
}

.message.event p {
  font-size: 0.8rem;
  color: var(--primary-color-muted);
  font-weight: 500;
}

.message.event .meta,
.message.event .name {
  display: none;
}

.message.image {
  position: relative;
  padding: .5rem;
}

.message.image .name {
  position: absolute;
  left: 5%;
  font-weight: 500;
}

.message .meta {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
  color: var(--fgColor-default);
  font-size: 0.75rem;
}

.message .meta svg {
  width: 1rem;
  height: 1rem;
}

.message .img img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
  cursor: pointer;
}


@keyframes messageSliding {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}