.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--primary-color-default);
    border: 1px solid var(--primary-color-default);
    padding: .75rem 2rem;
    color: var(--fgColor-default);
    transition: all 0.3s ease-in-out;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid var(--primary-color-default);
}

.button:hover, .button:disabled {
    background-color: var(--primary-color-muted) !important;
    border: 1px solid var(--primary-color-muted);
}