.sendButton {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
.sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
.sendButton svg path {
  transition: all 0.3s;
}
.sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}